.nova6-chat {
    text-align: center;
}

.nova6-chat__headline-container {
    position: relative;
    width: 70%;
    margin: $component-padding auto;
}

.nova6-roll {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $nova6-primary-color;

    .max:not(.discarded),
    .min:not(.discarded) {
        color: inherit !important;
        filter: none !important;
    }
}

.nova6-roll__status {
    text-align: left;
    margin: 0 auto;
    display: inline-block;

    span {
        font-size: 10px;
        display: block;
        padding-left: $component-padding * 2;
    }
}

.nova6-dice {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-bottom: $component-padding * 2;
    font-family: "Fate Icons", sans-serif;
}
