.nova6-desk {
    display: grid;
    grid-template-rows: min-content min-content minmax(100px, 100%) min-content;
    grid-template-areas: "header" "tabs" "content" "footer";
    height: 100%;

    &__aspects,
    &__consequences,
    &__talents,
    &__load,
    &__notes,
    &__stress,
    &__assets,
    &__skills {
        display: flex;
        flex-direction: column;
        gap: 2px;
        padding: 10px;

        &--inline {
            padding-left: 0;
        }
    }

    &__content {
        grid-area: content;
        overflow-y: auto;
        scrollbar-width: thin;

        &[data-tab]:not(.active) {
            display: none !important;
        }

        &--app {
            padding: $component-padding;
        }

        &--actor-sheet {
            display: grid !important;
            grid-template-columns: 3fr 2fr;
        }

        &--group {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: min-content;
            gap: $component-padding;
            padding: $component-padding;
        }
    }

    &__tab {
        padding: $component-padding * 2;
        min-height: 100%;
        display: flex;
        flex-direction: column;

        .editor {
            flex-grow: 1;
        }
    }

    &__footer {
        grid-area: footer;
    }

    &__messages {
        grid-area: messages;
    }

    &__sidebar {
        box-shadow: 12px 0 15px 0 $nova6-primary-color;
    }

    &__tabloid {
        display: flex;
        flex-direction: column;
        flex-gap: $component-padding;
    }

    &__tabs {
        grid-area: tabs;
        box-shadow: 0 2px 15px 0 $nova6-header-color;
    }
}
