.nova6-talents {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: $component-padding;

    > p {
        grid-column-end: span 2;
        margin: 0;
        opacity: 0.3;
    }
}

.nova6-talent {
    display: contents;

    > div {
        position: relative;
    }

    &__name {
        font-weight: bold;
        padding-right: $component-padding * 2;
        max-width: 25%;
        white-space: nowrap;
    }

    &__value {
        flex-grow: 1;

        p {
            margin: 0 0 $component-padding 0;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &--disabled {
        opacity: 0.3;
    }
}
