// Spacing
$component-padding: 10px;

// Colors
$primary-color: rgba(47, 53, 66, 1);

$sheet-background: rgb(225, 226, 231);
$message-background: transparentize($primary-color, 0.7);

$primary-text-color: #191813;
$light-text-color: #fff;

$caution-color: rgb(242, 22, 40);
$shadow-color: rgb(160, 160, 160);

// Fonts
$primary-font: "Montserrat", sans-serif;

// Custom Property Hooks
$nova6-header-color: var(--nova6-header-color, $primary-color);
$nova6-header-text-color: var(--nova6-header-text-color, $light-text-color);

$nova6-primary-color: var(--nova6-primary-color, $primary-color);
