<div class="nova6-artwork">
    <header class="nova6-headline">
        <h2 class="nova6-headline__text">{{localize "NOVA.Sheet.Artwork"}}</h2>
    </header>

    <div class="nova6-artwork__wrapper">
        <img class="nova6-artwork__image" alt="{{actor.name}}" data-edit="img" src="{{actor.img}}" title="{{actor.name}}" />
    </div>
</div>
