<div class="nova6-artwork">
    <div class="nova6-artwork__wrapper">
        <img class="nova6-artwork__image" alt="{{actor.name}}" data-edit="img" src="{{actor.img}}" title="{{actor.name}}" />
    </div>
</div>
