<div class="nova6-chat">
    <header class="nova6-headline nova6-headline--chat">
        <h3 class="nova6-headline__text">{{skill.name}}</h3>
    </header>

    <div class="nova6-roll__status">
        <p>
            {{{localize "NOVA.Roll.Instant"}}}
        </p>
    </div>
</div>
