{{> "systems/nova6/templates/components/item-header.hbs" title="NOVA.Item.Skill.EditItem" item=item}}

{{> "systems/nova6/templates/item/settings/setting-input.hbs"
    headline = "NOVA.Item.Skill.Name"
    fieldName = "name"
    field = item.name
}}

{{> "systems/nova6/templates/item/settings/setting-rank.hbs"
    headline = "NOVA.Item.Skill.Rank"
    fieldName = "data.rank"
    field = data.rank
    dtype = "Number"
    radioItems = availableRanks
}}


<div class="nova6-setting">
    <header class="nova6-headline nova6-headline--no-margin">
        <h3 class="nova6-headline__text">{{localize "NOVA.Item.Skill.SkillTalents"}}</h3>
    </header>
</div>

<div class="nova6-setting__columns">
    {{> "systems/nova6/templates/item/settings/setting-checkbox.hbs"
        fieldName = "data.focused"
        field = data.focused
        label = "NOVA.Item.Skill.Focused"
    }}

    {{> "systems/nova6/templates/item/settings/setting-checkbox.hbs"
        fieldName = "data.practiced"
        field = data.practiced
        label = "NOVA.Item.Skill.Practiced"
    }}

    {{> "systems/nova6/templates/item/settings/setting-checkbox.hbs"
        fieldName = "data.specialized"
        field = data.specialized
        label = "NOVA.Item.Skill.Specialized"
    }}
</div>

<div class="nova6-setting">
    <header class="nova6-headline">
        <h3 class="nova6-headline__text">{{localize "NOVA.Item.Skill.Perks"}}</h3>
    </header>
</div>

{{> "systems/nova6/templates/item/settings/setting-input.hbs"
    placeholder = "NOVA.Item.Skill.Perk1"
    fieldName = "data.perk1"
    field = data.perk1
}}

{{> "systems/nova6/templates/item/settings/setting-input.hbs"
    placeholder = "NOVA.Item.Skill.Perk2"
    fieldName = "data.perk2"
    field = data.perk2
}}

{{> "systems/nova6/templates/item/settings/setting-input.hbs"
    placeholder = "NOVA.Item.Skill.Perk3"
    fieldName = "data.perk3"
    field = data.perk3
}}

{{> "systems/nova6/templates/item/settings/setting-input.hbs"
    placeholder = "NOVA.Item.Skill.Perk4"
    fieldName = "data.perk4"
    field = data.perk4
}}

{{> "systems/nova6/templates/item/settings/setting-input.hbs"
    placeholder = "NOVA.Item.Skill.Perk5"
    fieldName = "data.perk5"
    field = data.perk5
}}

{{> "systems/nova6/templates/item/settings/setting-input.hbs"
    placeholder = "NOVA.Item.Skill.Perk6"
    fieldName = "data.perk6"
    field = data.perk6
}}

{{> "systems/nova6/templates/item/settings/setting-input.hbs"
    placeholder = "NOVA.Item.Skill.Perk7"
    fieldName = "data.perk7"
    field = data.perk7
}}

{{> "systems/nova6/templates/item/settings/setting-input.hbs"
    placeholder = "NOVA.Item.Skill.Perk8"
    fieldName = "data.perk8"
    field = data.perk8
}}

{{> "systems/nova6/templates/item/settings/setting-input.hbs"
    placeholder = "NOVA.Item.Skill.Perk9"
    fieldName = "data.perk9"
    field = data.perk9
}}

{{> "systems/nova6/templates/components/item-footer.hbs"}}
